{% extends 'base.html.twig' %}

{% block title %}Calendrier Scheduler pour symfony{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1>Calendrier Scheduler pour symfony</h1>
    <p>Petite Tuto :<br>La page affichage de chaque calendrier empéche la création, suppresion ou suppression des événement.<br>Pour modifier, creer ou supprimer il faut aller dans les page modification</p>
    <p>Pour plus d'explication:<br><a href="{{ 'https://ourcodeworld.com/articles/read/224/creating-an-event-calendar-scheduler-with-dhtmlxscheduler-in-symfony-3' }}" target="_blank">lien du tutoriel pour symfony 3</a><br><a href="{{ 'https://dhtmlx.com/' }}" target="_blank">Lien du site Scheduler avec la documentation</a><br><a href="{{ 'https://dhtmlx.com/docs/products/dhtmlxScheduler/download.shtml' }}" target="_blank">Lien pour telecharger le packs original</a><br><a href="{{ 'https://dhtmlx.com/docs/products/docsExplorer/samples.shtml' }}" target="_blank">Lien vers les exemples</a></p>
    </div>
</div>
{% endblock %}
